.movieDetails {
  position: absolute;
  width: 74%;
  top: 13%;
  left: 13%;
  right: 13%;
}

div.movieDetails > div.card {
  background: rgba(255, 0, 0, opacity);
  background-color: hsla(0, 100%, 30%, opacity);
  color: hsl(217, 11%, 15%);
}

.movieCard {
  width: 9rem;
}

.movieGroup {
  color: #212121d9;
  border-bottom: 1px solid #212121d9;
  text-transform: uppercase;
}

.movieMenu {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  padding: 0 3em;
  /* background-color: #183717; */
  /* background-color: #0b0742; */
  background-color: #343b40;
  border-radius: 3%;
}

.link2 {
  /* color: #9BF777; */
  /* color: #8bff8b; */
	color: #C0FF00;
  /* color: #00FF40; */
  /* color: #bac94a; */
  /* color: #d3dd18; */
}

.link {
  /* color: #0C00FF; */
  /* color: #ff01ff; */
  /* color: #FE5AFF; */
  color: #ff8bff;
}
