.movieCard {
	width: 9rem;
}

.movieGroup {
	color: #212121d9;
	border-bottom: 1px solid #212121d9;
	text-transform: uppercase;
}

.movieMenu {
	background-color: #2b3035;;

}

/* .movieMenu > a {
	color: #ffffff;
	padding: .3em;
}

.movieMenu > a:hover {
	color: #d0d0d0;
} */

.watched {
	color: #48eb12;
	padding: .3em;
}

.watched:hover {
	color: #7ff159;
}

.watchlist {
	color: #00a7fa;
}

.watchlist:hover {
	color: #33b9fb;
}

.favorite {
	color: #ff3b28;
}

.favorite:hover {
	color: #ff6253;
}
