.link,
.nav-link {
  text-transform: uppercase;
  font-weight: light;
  color: #d3dd18;
}

a.link,
div.link,
.nav-item {
  text-transform: uppercase;
  font-weight: light;
  color: #d3dd18;
}

.nav-dropdown {
  color: #d3dd18;
}

.nav {
	background-color: #00002E;
}